# Dependencies
node_modules
.pnp
.pnp.js

# Next.js
.next
out
build
dist

# Production env / secrets
.env
.env.local
.env*.local

# Logs
*.log
npm-debug.log*

# Editor / OS
.DS_Store
.vscode
.idea
*.tsbuildinfo
next-env.d.ts.bak

# Vercel
.vercel
